<!--Abouts Us-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/about_Style.css">
</head>
<body>
    


    
      
    
     <div class="our-story">
     <img src="../static/img1.jpg" alt="">
     <div class="our-story-content">
     
     <p class="pclass">Moodify is a facial expression recognition-based movie and music suggestion website that cheer up users and saves time while searching for a movie or song that matches their mood.

        It recognizes facial expression based on the 7 categories i.e., angry, sad, fear, happy, disgust, surprise and neutral.
        Based on the emotion it gives user two choices either suggesting movies or songs.
        If user wishes to watch movies/songs then a list of movies/songs matching their mood are suggested with movie/songs poster.
        When user clicks on movie which he wishes to watch, they will be redirected to IMDB website and for songs it redirects them to Spotify website.
      </p>
     </div>
    </div>

 
  
</body>
</html>